<!-- Footer -->
<footer class="bg-light page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-secondary text-center py-1"><span >© 2021 Copyright:</span>
    <a href="https://github.com/ArifEbrahim/acebook-StringMeAlong"> <span class ='text-secondary' >String Me Along</span></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
